body{
	font-family:arial,helvetica;
	background:#8e8e8e;
}
.menu{
	list-syle:none;
	padding:0;
	background:#092327;
	width:90%;
	max-width:1000px;
	margin:auto;
}
.menu li a{
	text-decoration:none;
	color:white;
	padding:20px;
	display:block;
}
.menu li{
	display:inline-block;
	text-aling:center;
}

.menu li a:hover{
	background:#ef8354;
}